<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4dlLiR8AuEcURF8myUYmYfFs2sM-VAqY</string>
	<key>GCM_SENDER_ID</key>
	<string>250849381517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viettien.TiTech</string>
	<key>PROJECT_ID</key>
	<string>titech-8a1ea</string>
	<key>STORAGE_BUCKET</key>
	<string>titech-8a1ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250849381517:ios:5c6f3c6f0660979c87e6c4</string>
</dict>
</plist>